{{ ansible_managed | comment }}

[docker-ce-{{ docker_repository_release_channel }}]
name=Docker CE {{ docker_repository_release_channel | title }} - $basearch
baseurl={{ _docker_yum_repository }}
enabled=1
gpgcheck=1
gpgkey={{ _docker_yum_repository_gpgkey }}